<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<style>
#cloud
{
height: 490px; 
position: relative; 
width:62%;
float: left; 
}
#tree
{
height: 490px; 
position: relative; 
width: 38%;
float: left; 
}
</style>
</head>
<body>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://rawgit.com/jasondavies/d3-cloud/master/build/d3.layout.cloud.js"></script>
<h3>Name: Abhi Ram Salammagari</h3>
<div style="border: 3px solid lightblue; height: 700px; margin: auto; padding: 27px;width: 900px; text-align: center; ">
<div class="row">
<div class="col-sm-6"><div id="cloud"></div></div>
<div class="col-sm-6"><div id="tree"></div></div>
</div>
<div class="row">
<textarea style= "background-color:lightblue; float:right;" border ="3px solid blue" rows="10" name="comment" cols="120"  id="tr" placeholder="Input the text here and click on generate word cloud and word tree">
Apply Rx Levo Throxiane everyday. Take Threonine on empty stomach everyday.

Apply Rx Nystatin Cream to lesions every 4 to 6 hours. Keep from scratching or other irritations. Also, keep areas well learned to prevent from spreading. Will Samuel for follow-up appointment in one week. If any questions or conditions worsen contact doctor immediately

I Rama Murthy, MD diagnosed Devi with borderline Myotonic MUSCULAR dystrophy (MMD). MMD is where muscles have difficulty relaxing and mild heart problems.

55 year old male Caucasian with a history of diabetes mel­ litus and chronic renal insufficiency now with atrial fibrillation, rapid ventricular rate, congestive heart failure exacerbation and right leg cellulitis going to 10W telemetry unit. 
</textarea><br>  </div>  
<button onclick="generateCloud()" style="color: white; padding: 16px 33px; text-align: center;  margin: 5px; margin-left: 66px; background-color: green; display: inline-block;font-size: 15px;" >Generate Word Cloud And Word Tree</button>
<button onclick="canc()" style="background-color: red; color: white; margin-left: 95px; padding: 16px 120px; display: inline-block; font-size: 16px; margin: 6px; text-align: center;" >Cancel</button>
</div>
<script>
function canc()
{
document.getElementById("tr").innerHTML="";
}
function generateCloud(){
document.getElementById("cloud").innerHTML="";
var vr = document.getElementById("tr").value;
var wds = [ vr ]
var cloudc = wC('#cloud');
wordsn(cloudc);
function wC(to) {
var fill = d3.scale.category20();
var svg = d3.select(to).append("svg")
.attr("height",510)
.attr("width",510)
.append("g")
.attr("transform", "translate(252,252)");
function prt(wds) 
{
var cloud = svg.selectAll("g text")
.data(wds, function(l) { return l.text; })

 cloud.enter()
.append("text")
.style("font-family", "Impact")
.style("fill", function(l, m) 
{ 
return fill(m); 
})
.attr('font-size', 1.5)
.attr("text-anchor", "middle")
.text(function(l) { return l.text; });

                    
cloud
.transition()
.duration(590)
.style("font-size", function(l) 
{ 
return l.sz + "px"; 
})
.attr("transform", function(l) 
{
return "translate(" + [l.x, l.y] + ")rotate(" + l.rotate + ")";
})
.style("fill-opacity", 3);

cloud.exit()
.style('fill-opacity', 1.5)
.transition()
.duration(210)
.attr('font-size', 1.5)
.remove();
                }

return {                      
update: function(wds) 
{
d3.layout.cloud().size([490, 490])
 .words(wds)
 .padding(6)
 .rotate(function() 
    { return ~~(Math.random() * 3) * 85; 
    })
 .font("Impact")
 .fontSize(function(l) 
    { return l.sz; 
    })
 .on("end", prt)
 .start();
 }
  }
   }

function wdds(m) 
  {
    return wds[m]
    .replace(/[!\.,:;\?]/g, '')
    .split(' ')
    .map(function(l) 
    {
    return {text: l, sz: 11 + Math.random() * 58};
      })
        }

        
function wordsn(re, m) {
    m = m || 0;
    re.update(wdds(m ++ % wds.length))
            }
                
                
google.charts.load('current', {packages:['wordtree']});
google.charts.setOnLoadCallback(dC);

function dC() {
 var dt = google.visualization.arrayToDataTable(
 [ ['P'],
  [vr]
    ]
      );

var ns = 
 {
    wordtree: 
    {
    format: 'implicit',
    }
    };

var tr = new google.visualization.WordTree(document.getElementById('tree'));
    tr.draw(dt, ns);
      }
        }
</script>
</body>
</html>